html{
    background-color: teal
}

.column{
    /* border: solid 1px; */
    border-radius: 15px;
}
.subtitle{
    color: rgb(48, 47, 47);
}

.card{
    border: solid .5px;
}
.hideMe{
    border: 0px;
}
.image{
    background-image: url('../images/cochella.webp')!important;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 27rem;
    width: 100%;
}
.title, .subtitle{
    background-color: rgba(0, 128, 128, .5);
    color: white;
}

/* below makes the color for the titles of the text box: search by artist and search by city */
h2{
    color: rgb(27, 26, 26);
}

p{
    color: rgb(27, 26, 26);

}
button{
    background-color: rgb(48, 47, 47) !important;
    
}

input{
    background-color: rgb(48, 47, 47);
    color: white;
}

select{
    background-color: rgb(48, 47, 47);
    color: white;
}



/* #hidden-0, #hidden-1, #hidden-2{
    display: none;
} */

